@import "bulma";
.contactstop{
      margin-left: 400px;
      height: 100px;
      width: 500px;
      background: #A7D076;
h1{
  padding-left: 145px;
}
}

// .headbox {
//   margin-left: 400px;
//     height: 200px;
//     width: 500px;
//     background: #A7D076;
//
// .arrow{
// display: inline-block;
// position: relative;
// bottom: 190px;
// }
//
// .head{
//   padding-left: 145px;
//   height: 200px;
//   width: 200px;
// }
// }
