<h4>NEW CONTACT</h4>
<form ng-submit="addContact(contact)">
  <p class="control">
    <input type="text" placeholder="Name"
           ng-model="contact.name" />
  </p>

  <p class="control">
    <input type="text" placeholder="Phone Number"
           ng-model="contact.phonenumber" />
  </p>
  <p class="control">
    <input type="text" placeholder="City"
           ng-model="contact.city" />
  </p>
  <p class="control">
    <input type="text" placeholder="State"
           ng-model="contact.state" />
  </p>
  <p class="control">
    <input type="text" placeholder="Image Url"
           ng-model="contact.photo_url" />
  </p>
  <p class="control">
    <button class="button is-primary">Create</button>
  </p>
</form>
